.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: league-spartan-v2, sans-serif;
  font-optical-sizing: auto;
  font-size: 42px;
  font-weight: 800;
  margin: 0;
  line-height: 54.6px;
  color: rgb(84, 109, 255);
  overflow-wrap: break-word;
  -webkit-font-smoothing: antialiased;
}

.description {
  display: block;
  font-family: league-spartan-v2, sans-serif;
  font-optical-sizing: auto;
  font-size: 22px;
  font-weight: 300;
  margin: 0;
  line-height: 26.4px;
  color: rgb(252, 252, 253);
  overflow-wrap: break-word;
  -webkit-font-smoothing: antialiased;
}

@media (max-width: 768px) {
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-size: 36px;
    line-height: 46.8px;
  }
  
  .description {
    font-size: 18px;
    line-height: 21.6px;
  }
}
